.card {
  width: 300px;
  height: 400px;
  margin: 9em auto auto;
  border-radius: 25px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.5s;
  background: center no-repeat;
}

#caption {
  text-align: center;
  display: block;
}
