h2 {
  padding-top: 40px;
  text-align: center;
}

#cookies-box {
  width: 775px;
  padding-left: 180px;
  display: flex;
}

#sidebar {
  position: fixed;
  float: left;
  background: #ffdead;
  height: 100vh;
  max-width: inherit;
  border-right: 2px solid #ffdead;
}

#sidebar .logo {
  width: 80px;
  height: 80px;
  padding: 30px 30px 0px 25px;
}

#sidebar section {
  margin-top: 30px;
  padding: 0 10px;
  text-align: left;
}

#sidebar .menu-item {
  padding-left: 0px;
}

#sidebar .menu-item a {
  transition: all 0.2s ease-out;
  padding-left: 13px;
  color: #84563c;
  text-decoration: none;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#sidebar .menu-item a:hover {
  color: white;
}

#sidebar .menu-item a.active,
#sidebar .menu-item a:hover {
  border-left: 3px solid #800c0c;
  text-decoration: underline;
}

.content {
  padding: 50px;
}

.card,
.card:hover {
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.card:hover {
  border-color: rgb(165, 108, 75);
  color: rgb(165, 108, 75);
  cursor: pointer;
}

.card {
  margin: 20px;
}

.author img {
  height: 300px;
}

td button.btn {
  border-color: black;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  animation: spin 2s linear infinite;
}
